@import url(reset.css);
@import url(header.css);
@import url(banner.css);
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Sedan+SC&display=swap');
@import url("carrossel.css");
:root {
    --vermelho: #e50914;
    --vermelho-escuro: #b81d24;
    --preto: #221f1f;
    --Roxo-claro: #C77DFF;
    --azul-claro: #0582CA;
    --azul-escuro: #10002B;
    --violeta: #5A189A;
    --azul-ciano: #00A6FB;
    --azul: #00A6FB;
    --branco: #ffffff;
    --verde-claro: #9EF01A;
    --verde: #38B000;
    --preto: #000000;
    --branco: #f5f5f1;
    --texto-corpo:"Sedan SC", serif;
    --texto-titulo:"Poetsen One", sans-serif;

}
body{
    background-color: var(--preto);
}
